/** byline.css */

.byline {
    display: inline-block;
    background-color: rgb(194, 233, 233);
    margin: 0;
    padding: 2em;
    border: 20px solid #ffffff;
}

.byline img {
    max-width: 100%;
}

.byline figcaption {
    caption-side: bottom;
    font-style: helvetica;
    padding-top: 2em;
}

.byline p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
}

/** figure.css */

.figure.left {
    float: left;
    margin-left: 1em;
}