/** byline.css */

.byline {
    display:flow-root;
    background-color: rgb(194, 233, 233);
    margin: 0 auto;
    max-width: 800px;
    padding: 2em;
    border: 20px solid #ffffff;
}

.byline img {
    max-width: 100%;
}

.byline figcaption {
    caption-side: bottom;
    font-style:italic;
    padding-top: 2em;
}

.byline p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(116, 144, 185);

}


/** figure.css */

.figure.left {
    float: left;
    margin-left: 1em;
}