/** fonts. */

.artcile h1 {

    font-size: 2em;
    border-bottom: 4px double #ccc;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", Georgia, "Times New Roman", Times, serif;
    color:rgba(238, 132, 159, 0.801);
}
  
