/** main.css */

/*
 * Set colors and size.
 */
 body {
    background-color: #e6dafa;
}

.main {
    margin: 0 auto;
    max-width: 800px;
}


.article {
    overflow: auto;
    background: #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding-left: 2em;
    padding-right: 1.5em;
}

.main .article h1 {
    font-size: 2em;
    color: lightsalmon;
    border-bottom: 4px double #dadada;
    font-family: Arial, Helvetica, sans-serif;
}

.main .article h3 {
    color: rgb(216, 33, 94);
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px #ee8b5e;
}

h3 {
    text-align: center;
}

.main .article h4 {
    color: #ff7fa1;
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 2px #af7dc1;
}


h4 {
    text-align: center;
}

.article .author {
    margin-top: -1em;
    font-size: 0.8em;
    color: #b3b3b3;
    font-style: italic;
}

.article p {
    color: rgba(61, 33, 33, 0.822);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main .article {
    min-height: 20em;
}

.aside {
    background: #ffffff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ffffff;
    padding-left: 2em;
    padding-right: 1.5em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

